{% extends 'base.html' %}
{% block body %}
	<div> <b>{{feed.user.first_name}} {{feed.user.last_name}}</b> @{{feed.user.username}}</div>
	<div> {{feed.content}} </div>
	<div class="float-right">{{feed.date}}</div><br>
	<div class="float-right">
		<a href="" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span>Like</a>
	</div>
	<div><hr style="color: white;border-width: 2px;"></div>
	<div class="h3">
		{{ feed.comments }} Comments
	</div>
	<div>
		<form action="" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<input class="form-control" type="text" name="content" id="content">
			</div>
			<button class="btn btn-primary pull-right" type="submit">Post</button><br>
		</form>
	</div><br>
	<div>
		<ul class="list-group">
			{% for comment in comments %}
				<li class="list-group-item">
					<p>{{ comment.content }}</p>
					<div class="text-right">
						<p><small>
							- {{ comment.user.username }}<br>
							{{ comment.date }}
							</small>
						</p>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}