{% extends 'base.html' %}
{% block body %}
	<h2>{{ blog.title }}</h2>
	<div>
		<p>
			{{ blog.content }}
		</p>
	</div>
	<div class="text-right">
		<p>-{{ blog.user.username }}</p>
		<span class="glyphicon glyphicon-calenger"></span>{{ blog.create_date }}<br>
	</div>
	<div><hr style="color: white;border-width: 2px;"></div>
	<div class="h3">
		{{ blog.comments }} Comments
	</div>
	<div>
		{% if user.is_authenticated %}
		<form action="" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<input class="form-control" type="text" name="comment" id="comment">
			</div>
			<button class="btn btn-primary pull-right" type="submit">Post</button><br>
		</form>
		{% endif %}
	</div><br>
	<div>
		<ul class="list-group">
			{% for comment in comments %}
				<li class="list-group-item">
					<p>{{ comment.content }}</p>
					<div class="text-right">
						<p><small>
							- {{ comment.user }}<br>
							{{ comment.date }}
							</small>
						</p>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}